/* Styling of the header */

.headerContainer {
    width: 60%;
    margin: auto;
    padding-bottom: 2rem;
}


@media only screen and (max-width: 800px) {
    .headerContainer {
        width: 80%;
    }
}
  
@media only screen and (max-width: 500px) {
    .headerContainer {
        width: 90%;
    }
}