.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*  Masonary grid */
.listContainer{
  column-count: 2;
  column-gap: 3rem;
  width: 60%;
  margin: auto;
}

.listItem {
  display: inline-block;
  margin-bottom: 2rem;
}

.listImage {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .listContainer {
    width: 80%;
    column-count: 1;
  }
}

@media only screen and (max-width: 500px) {
  .listContainer {
    width: 90%;
  }
}
